input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(0, 224, 255, 0.11) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
